:root {
  /* Primary Colors */
  --primary-color: #007BFF; /* Soft Blue */
  --primary-color-hover: #0056b3; /* Darker blue for hover states */

  /* Neutral Backgrounds */
  --background-color: #F8F9FA; /* Light Gray */
  --white-background: #FFFFFF; /* Soft White */
  
  /* Text Colors */
  --text-color: #343A40; /* Dark Gray */
  --text-color-dark: #212529; /* Black */
  
  /* Accent Colors */
  --accent-color-light: #66B2FF; /* Lighter Soft Blue */
  --accent-color-teal: #20C997; /* Teal */
  --accent-color-light-teal: #66D9B8; /* Lighter Teal */

  /* Button Colors */
  --button-color: var(--primary-color);
  --button-hover-color: var(--primary-color-hover);

  /* Link Colors */
  --link-color: var(--primary-color);
  --link-hover-color: var(--primary-color-hover);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  line-height: 1.5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* root layout starts */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
  display: flex;
  gap: 20px;
}
/* root layout ends */